[defaults]
host_key_checking = False
private_key_file = /root/.ssh/ansible_lab
inventory = /etc/ansible/inventory/hosts.ini
collections_path = /etc/ansible/collections
roles_path = /etc/ansible/roles
playbook_relative_path = /etc/ansible
